<!DOCTYPE html>
<html>
<body>
    <p style="font-size:22px;padding: 5px 20px;">Hello <b>{{ admin.first_name }}</b></p>
	<p style="padding: 5px 20px;">To reset your password:<br><br></p> 
	<a href="{{ reset_password_link }}" style="padding: 5px 20px;">Click Here</a>
	<br><br>
	<p style="padding: 5px 20px;">If you have not requested for a password reset, please ignore this message</p>
	<br><br>
    <p style="padding: 5px 20px;font-size:16px;">Regards,<br><b>Team TurningLife</b></p>
</body>
</html>