<!DOCTYPE html>

<html>
	<head>
        <title>Forgot Password | TurningLife Foundation India based NGO</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<!-- Jquery Validator -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js" integrity="sha256-sPB0F50YUDK0otDnsfNHawYmA5M0pjjUf4TvRJkGFrI=" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js" integrity="sha256-vb+6VObiUIaoRuSusdLRWtXs/ewuz62LgVXg2f1ZXGo=" crossorigin="anonymous"></script>
		<!-- End -->
	</head>

	<style>
		/* Flash Message */
			#flash_message{ position: absolute; left: 50%; z-index: 5; transform: translateX(-50%); }
	        #flash_message .alert{ text-align: center; border-radius: 10px; }
		/* End */

		.main_heading{ color: #252A64; letter-spacing: 3px; }
		form label{ font-weight: bold; letter-spacing: 1px; font-size: 14px; }
		form .submit_btn{ border: none; background-color: #F05929; color: white; padding: 7px 18px; border-radius: 10px; }
	</style>

	<body>

	
		<nav id="navbar" class="navbar navbar-expand-lg fixed-top px-5 py-1">
	        <a class="navbar-brand m-0" href="{{ url_for('admin.admin_dashboard') }}">
	            <img src="{{ url_for('static', filename='images/logo.png') }}" style="width:5em; margin-top: 4px;">
	        </a>
		</nav>

		<!-- Flash Messages -->
	    {% with messages = get_flashed_messages(with_categories=true) %}
	        {% if messages %}
	            <div id="flash_message" class="my-4">
	                {% with messages = get_flashed_messages(with_categories=true) %}
	                    {% if messages %}
	                        {% for category, message in messages %}
	                                <div class="alert alert-{{ category }} shadow-sm border-0" role="alert">
	                                    {{ message }}
	                                </div>
	                        {% endfor %}
	                    {% endif %}
	                {% endwith %}
	            </div>
	        {% endif %}
	    {% endwith %}
	    <!-- End -->

        <div class="container my-5 py-5">
            <div class="row my-5">
                <div class="col-md-12">
                    <h2 class="main_heading">Reset Password</h2>
                </div>
            </div>

            <div class="row my-4">
				<div class="col-md-4">
					<form id="reset_password_form" action="{{ url_for('admin.admin_reset_password', token=token) }}" method="POST" class="">
						<div class="form-group">
							<label>New Password</label>
							<input type="password" id="password" name="password1" class="form-control">
                        </div>
                        <div class="form-group">
							<label>Confirm Password</label>
							<input type="password" name="password2" class="form-control">
                        </div>
						<div class="text-right">
							<button type="submit" class="submit_btn">Submit</button>
						</div>
					</form>
				</div>
            </div>
        </div>

	</body>

	<script>
		$(document).ready( function(){
			setTimeout( function(){
				$("#flash_message .alert").alert("close");
				$("#flash_message").hide(200);
			}, 3000 )  

			$.validator.setDefaults({
				errorClass: 'help-block text-danger',
				errorPlacement: function (error, element) {
					if (element.prop('type') === 'checkbox') {
					error.insertAfter(element.parent());
					} else {
					error.insertAfter(element);
					}
				}
			});

			$.validator.addMethod('password', function(value, element) {
				return this.optional(element) 
					|| /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!#%*?&]{8,20}$/.test(value);
			  }, 'Password must have at least one number, uppercase, lowercase and special symbol.');

			var form = $("#reset_password_form")
			form_validator = form.validate({
				rules:{
					password1: { required:true, password: true },
					password2: { required:true, equalTo: "#password" }
				},
				messages:{
					password2: "Please enter same password again"
				}
			})  
		});
	</script>
</html>