{% extends 'base.html' %}

{% block css %}
<style>
	.slider_heading{
			font-family: Didot;
			font-style: italic;
			color:#ffffff;
			letter-spacing: 1.2px;
		}
	/* Home Slider */
		#home_slider1{
			background-image:url("{{ url_for('static', filename='images/India_Mart.png') }}");
			background-repeat: no-repeat;
			background-size: cover;
			height: 100vh;
		}
		#home_slider2{
			background-image:url("{{ url_for('static', filename='images/Concentrix.png') }}");
			background-repeat: no-repeat;
			background-size: cover;
			height: 100vh;
		}
		#home_slider3{
			background-image:url("{{ url_for('static', filename='images/Tokopedia.png') }}");
			background-repeat: no-repeat;
			background-size: cover;
			height: 100vh;
		}
		.slider_layer{
			background-color: rgba(0,0,0,0.6);
			height: 100vh;
		}
	/* End */
	#homeCarousel hr.heading_underline{
		border-color: #e44e35;
		border-width: 3px;
		margin: -15px auto 25px auto;
		width: 25%;
	}
	#homeCarousel hr.control_pointer{
		border-color: #ffffff;
		border-width: 3px;
		margin: -15px auto 25px auto;
		width: 150px;
	}
	.carousel-control-prev ,.carousel-control-next {
		font-family: Didot Bold;
		font-style: bold;
		font-weight: 900;
		color:#ffffff;
		opacity: 1;
		font-size: 24px;
	}
	.viewall_link a{
		position: absolute;
		bottom: 5%;
		left: 50%;
		transform: translateX(-50%);
		font-family: Didot Bold;
		font-weight: 900;
		color:#ffffff;
		opacity: 1;
		font-size: 24px;
		text-decoration: none;
		letter-spacing: 1.8px !important;
	}
	.viewall_link hr.heading_underline{
		position: absolute;
		bottom: 1%;
		left: 50%;
		transform: translateX(-50%);
		border-color: #ffffff !important;
		border-width: 3px;
		width: 6% !important;
	}
	.num{
		position: absolute;
		bottom: 10%;
		right: 7%;
		font-size: 42px;
		font-family: Proxima Nova Light;
		color: #ffffff; 
	}
	.project_images img{
		height: 55vh;
	}
	.project_heading{
		font-family: Proxima Nova Light;
	}
	/*Zoom Effect*/
	/* [1] The container */
	.img-hover-zoom {
	  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
	}

	/* [2] Transition property for smooth transformation of images */
	.img-hover-zoom img {
	  transition: transform 1s ease;
	}

	/* [3] Finally, transforming the image when container gets hovered */
	.img-hover-zoom:hover img {
	  transform: scale(1.1);
	}
	.img-hover-zoom:hover .overlay {
	  background-color: rgba(0,0,0,0.4);
	}
	/*End*/
</style>
{% endblock %}

{% block content %}
	<div class="row m-0 my-5 pt-5">
		<div class="col-md-5 mt-4 p-0 mx-auto project_images img-hover-zoom" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
			<img class="img-fluid w-100" src="/static/images/AIHP.png">
		</div>
		<div class="col-md-5 mt-4 p-0 mx-auto project_images img-hover-zoom" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
			<img class="img-fluid w-100" src="/static/images/Air_india.png">
		</div>
		<div class="col-md-5 mx-auto project_images" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
			<h3 class="project_heading pt-2 pl-2">AIHP, Gurugram</h3>
		</div>
		<div class="col-md-5 mx-auto project_images" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
			<h3 class="project_heading pt-2 pl-2">Air India</h3>
		</div>
		<div class="col-md-5 mt-4 p-0 mx-auto project_images img-hover-zoom" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
			<img class="img-fluid w-100" src="/static/images/XYZ.png">
		</div>
		<div class="col-md-5 mt-4 p-0 mx-auto project_images img-hover-zoom" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
			<img class="img-fluid w-100" src="/static/images/ABC.png">
		</div>
		<div class="col-md-5 mx-auto project_images" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
			<h3 class="project_heading pt-2 pl-2">XYZ, Location</h3>
		</div>
		<div class="col-md-5 mx-auto project_images" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
			<h3 class="project_heading pt-2 pl-2">ABC, Location</h3>
		</div>
		<div class="col-md-5 mt-4 p-0 mx-auto project_images img-hover-zoom" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
			<img class="img-fluid w-100" src="/static/images/Ujjawan.png">
		</div>
		<div class="col-md-5 mt-4 p-0 mx-auto project_images img-hover-zoom" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
			<img class="img-fluid w-100" src="/static/images/Indiamart.png">
		</div>
		<div class="col-md-5 mx-auto project_images" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
			<h3 class="project_heading pt-2 pl-2">Ujjawan</h3>
		</div>
		<div class="col-md-5 mx-auto project_images" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
			<h3 class="project_heading pt-2 pl-2">IndiaMart, Noida</h3>
		</div>
	</div>
{% endblock %}



{% block js %}
	<script>
		$(document).ready(function(){
			var totalItems = $('.carousel-item').length;
			var currentIndex = $('.carousel-item.active').index() + 1;
			$('.num').html(''+currentIndex+' / '+totalItems+'');

			$('#homeCarousel').on('slid.bs.carousel', function() {
			    currentIndex = $('.carousel-item.active').index() + 1;
			   $('.num').html(''+currentIndex+' / '+totalItems+'');
			});
		});
	</script>	
{% endblock %}