{% extends 'base.html' %}

{% block css %}
<style>
	html,body{
		scroll-behavior: smooth;
	}
	/* Home Slider */
		#home_slider .carousel-item .background_layer{
			background-image:url("{{ url_for('static', filename='images/Testimonial.png') }}");
			background-repeat: no-repeat;
			background-size: 100% 100%;
			height: 100vh;
			width: 100%;
		}
		.slider_heading{
			font-family: Didot;
			font-style: italic;
			color:#ffffff;
			letter-spacing: 1.2px;
		}
		.slider_heading:after {
			content: '';
			height: 3px;
			background: #e44e35; 
			width: 64%;
			margin:20px 18%;
			display: block;
		}

		#home_slider .carousel-control-next,
		#home_slider .carousel-control-prev{
			opacity: 1;
		}
		#home_slider .carousel-control-next span,
		#home_slider .carousel-control-prev span{
			font-size: 100px;
			font-weight: 100;
			color:#fafafa;
			opacity: 1;
		}
	/* End */
	#about_afc .content{
		font-family: Proxima Nova Light;
		color:#1a1a1a;
		font-size: 21px;
		line-height: 1.6;
		text-align: justify;
	}
	.about_icons{
		width: 90px;
	}
	.icon_heading,.icon_heading:hover{
		font-family: Proxima Nova Regular;
		font-size: 17px;
		color: black;
		text-decoration: none !important;
	}
	hr.heading_underline{
		border-color: #e44e35;
		border-width: 3px;
		margin: 5px auto 25px auto;
		width: 14%;
	}

	#it_ites,#gov_psu{
		background-color: #f2f2f2;
	}
	.clients_logos{
		width: 15%;
		height: 40%;
	}
	.icons_nav{
		position: sticky;
		top: 10%;
		z-index: 9999;
		background-color: #ffffff;
	}
	.sequezed .about_icons{
			width: 60px;
		}
	.sequezed .icon_heading,.squezeed .icon_heading:hover{
		font-size: 12px;
	}
	@media (max-width: 768px) {
		.about_icons{
			width: 30px;
		}
		.icon_heading,.icon_heading:hover{
			font-size: 7px;
		}
		.icons_nav{
			position: sticky;
			top: 20%;
		}
	}
</style>
{% endblock %}

{% block content %}
	
	<div id="home_slider" class="carousel slide" data-ride="carousel" data-interval="1500">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="background_layer">
			  		<div class="d-flex flex-column justify-content-center align-items-center h-100">
						<h1 class="slider_heading d-none d-md-block text-center pt-md-5 pb-0">
							Hatts off to the production team for their quality workmanship.
						</h1>
						<h5 class="slider_heading d-block d-md-none text-center pt-5 pb-0">
							Hatts off to the production team for their quality workmanship.
						</h5>
						<img class="img-fluid py-1" style="width:130px" src="/static/clients/aihp_inverted.png" >
						<h1 class="slider_heading d-none d-md-block text-center pt-md-4 pb-0">
							We loved their approach, consciouness, timely delivery with<br>excellent quality of material..
						</h1>
						<h5 class="slider_heading d-block d-md-none text-center pt-md-4 pb-0">
							We loved their approach, consciouness, timely delivery with<br>excellent quality of material.
						</h5>
						<img class="img-fluid py-1" style="width:150px" src="/static/clients/indiamart_inverted.png" >
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="background_layer">
			  		<div class="d-flex flex-column justify-content-center align-items-center h-100">
						<h1 class="slider_heading d-none d-md-block text-center pt-md-4 pb-0">
							Hatts off to the production team for their quality workmanship.
						</h1>
						<h5 class="slider_heading d-block d-md-none text-center pt-5 pb-0">
							Hatts off to the production team for their quality workmanship.
						</h5>
						<img class="img-fluid py-1" style="width:130px" src="/static/clients/aihp_inverted.png" >
						<h1 class="slider_heading d-none d-md-block text-center pt-md-4 pb-0">
							We loved their approach, consciouness, timely delivery with<br>excellent quality of material..
						</h1>
						<h5 class="slider_heading d-block d-md-none text-center pt-md-4 pb-0">
							We loved their approach, consciouness, timely delivery with<br>excellent quality of material.
						</h5>
						<img class="img-fluid py-1" style="width:150px" src="/static/clients/indiamart_inverted.png" >
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class="background_layer">
			  		<div class="d-flex flex-column justify-content-center align-items-center h-100">
						<h1 class="slider_heading d-none d-md-block text-center pt-md-4 pb-0">
							Hatts off to the production team for their quality workmanship.
						</h1>
						<h5 class="slider_heading d-block d-md-none text-center pt-5 pb-0">
							Hatts off to the production team for their quality workmanship.
						</h5>
						<img class="img-fluid py-1" style="width:130px" src="/static/clients/aihp_inverted.png" >
						<h1 class="slider_heading d-none d-md-block text-center pt-md-4 pb-0">
							We loved their approach, consciouness, timely delivery with<br>excellent quality of material..
						</h1>
						<h5 class="slider_heading d-block d-md-none text-center pt-md-4 pb-0">
							We loved their approach, consciouness, timely delivery with<br>excellent quality of material.
						</h5>
						<img class="img-fluid py-1" style="width:150px" src="/static/clients/indiamart_inverted.png" >
					</div>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#home_slider" role="button" data-slide="prev">
			<span class="mx-2">&#8249;</span>
		</a>
		<a class="carousel-control-next" href="#home_slider" role="button" data-slide="next">
			<span class="mx-2">&#8250;</span>
		</a>
	</div>
	<div id="about_afc" class="py-5">
		<h1 class="heading text-center display-4 d-none d-md-block pb-0" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500"> 
			AFC believes...
		</h1>
		<h2 class="heading text-center d-block d-md-none pb-0" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500"> 
			AFC believes...
		</h2>
		<hr class="heading_underline" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
		<div class="row m-0">
			<div class="mx-md-5 px-4 text-center">
				<p class="content" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est.
				</p>
			</div>
		</div>
	</div>
	<div class="px-5 icons_nav w-100 text-center" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
		<div class="d-flex flex-wrap justify-content-around px-md-5">
			<a href="#bsfi">
				<div class="px-md-3">
					<img class="img-fluid about_icons" id="icon1_static"  src="/static/icons/bank-static.png">
					<img class="img-fluid about_icons d-none" id="icon1_hover" src="/static/icons/bank-hover.png">
					<p class="icon_heading mb-0">BFSI</p>
				</div>
			</a>
			<a href="#it_ites">
				<div class="px-md-3">
					<img class="img-fluid about_icons" id="icon2_static" src="/static/icons/IT-static.png">
					<img class="img-fluid about_icons d-none" id="icon2_hover" src="/static/icons/IT-hover.png">
					<p class="icon_heading mb-0">IT & ITes</p>
				</div>
			</a>
			<a href="#educational">
				<div class="px-md-3">
					<img class="img-fluid about_icons" id="icon3_static" src="/static/icons/education-static.png">
					<img class="img-fluid about_icons d-none" id="icon3_hover" src="/static/icons/education-hover.png">
					<p class="icon_heading mb-0">Educational</p>
				</div>
			</a>
			<a href="#gov_psu">
				<div class="px-md-3">
					<img class="img-fluid about_icons" id="icon4_static" src="/static/icons/govt-static.png">
					<img class="img-fluid about_icons d-none" id="icon4_hover" src="/static/icons/govt-hover.png">
					<p class="icon_heading mb-0">Government<br>& PSUs</p>
				</div>
			</a>
			<a href="#media">
				<div class="px-md-3">
					<img class="img-fluid about_icons" id="icon5_static" src="/static/icons/media-static.png">
					<img class="img-fluid about_icons d-none" id="icon5_hover" src="/static/icons/media-hover.png">
					<p class="icon_heading mb-0">Media, Telecom<br>& More</p>
				</div>
			</a>
		</div>
	</div>
	<div id="bsfi" class="py-5">
		<h1 class="heading text-center display-4 d-none d-md-block pb-0" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500"> 
			BFSI
		</h1>
		<h2 class="heading text-center d-block d-md-none pb-0" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500"> 
			BFSI
		</h2>
		<hr class="heading_underline" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
		<div class="d-flex justify-content-around flex-wrap px-4" data-aos-once="false" data-aos="fade-up" data-aos-duration="1500">
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/axis.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/hdfc.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/icici.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/ujjivan.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/SBI-General.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/yesbank.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/indusind.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/DCB.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/utkarsh-small-finance.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/tata-capital.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/aavas.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/indiabulls.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/icici-homefinance.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/idfc.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/fullerton.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/edelweiss.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/MaxLifeInsurance.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/Max-Bupa.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/PNB-Housing.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/AU-Small-Finance-Bank.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/janalaskhmi.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/muthoot-fincorp.png" >
		</div>
	</div>
	<div id="it_ites" class="py-5">
		<h1 class="heading text-center display-4 d-none d-md-block pb-0" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500"> 
			IT & ITeS
		</h1>
		<h2 class="heading text-center d-block d-md-none pb-0" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500"> 
			IT & ITeS
		</h2>
		<hr class="heading_underline" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
		<div class="d-flex justify-content-around flex-wrap px-4" data-aos-once="false" data-aos="fade-up" data-aos-duration="1500">
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/Advant.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/Indiamart.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/R1.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/HCL.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/tech-mahindra.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/cogent.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/genpact.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/capitalvia.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/Stellar.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/concentrix.png" >
		</div>
	</div>
	<div id="educational" class="py-5">
		<h1 class="heading text-center display-4 d-none d-md-block pb-0" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500"> 
			Educational
		</h1>
		<h2 class="heading text-center d-block d-md-none pb-0" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500"> 
			Educational
		</h2>
		<hr class="heading_underline" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
		<div class="d-flex justify-content-around flex-wrap px-4" data-aos-once="false" data-aos="fade-up" data-aos-duration="1500">
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/fitjee.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/Educomp.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/narayana.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/NIIT.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/Extramarks.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/galgotias.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/arunchal-university.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/GIIS.png" >
 		</div>
	</div>
	<div id="gov_psu" class="py-5">
		<h1 class="heading text-center display-4 d-none d-md-block pb-0" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500"> 
			Government & PSU
		</h1>
		<h2 class="heading text-center d-block d-md-none pb-0" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500"> 
			Government & PSU
		</h2>
		<hr class="heading_underline" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
		<div class="d-flex justify-content-around flex-wrap px-4" data-aos-once="false" data-aos="fade-up" data-aos-duration="1500">
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/AirIndia.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/BHEL.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/NBCC.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/LIC.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/Ayushman-Bharat.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/NICFS.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/DigitalIndia.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/Bharat-Electronics.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/indian-railways.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/AIIMS.png" >
		</div>
	</div>
	<div id="media" class="py-5">
		<h1 class="heading text-center display-4 d-none d-md-block pb-0" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500"> 
			Media, Telecom & More
		</h1>
		<h2 class="heading text-center d-block d-md-none pb-0" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500"> 
			Media, Telecom & More
		</h2>
		<hr class="heading_underline" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
		<div class="d-flex justify-content-around flex-wrap px-4" data-aos-once="false" data-aos="fade-up" data-aos-duration="1500">
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/Zee.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/amar-ujala.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/Aajtak.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/HT.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/vodafone.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/vsun.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/oppo.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/DrLal.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/RPG.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/AIHP.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/Assotech.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/Jindal.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/L&T.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/TATAPower.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/relaxo.png" >
			<img class="img-fluid px-4 mx-3 my-5 clients_logos" src="/static/clients/Apollotyres.png" >
		</div>
	</div>
{% endblock %}


{% block js %}
	<script>
			window.onscroll = function() {myFunction()};
			function myFunction() {
				if (document.body.scrollTop > 950 || document.documentElement.scrollTop > 950) {
					$(".icons_nav").addClass("sequezed");
			} else {
				$(".icons_nav").removeClass("sequezed");
			  }
			}
		$(document).ready(function(){
			$('.about_icons').hover(function(){
				var id=$(this).attr('id').split('_')[0];
				setTimeout(function(){
					$('#'+id+'_static').addClass('d-none');
					$('#'+id+'_hover').removeClass('d-none');
					},250);
				}, function(){
					var id=$(this).attr('id').split('_')[0];
				setTimeout(function(){
					$('#'+id+'_hover').addClass('d-none');
					$('#'+id+'_static').removeClass('d-none');
					},250);
			});
			$(".icons_nav a").on("click",function(){
				$('html').animate({
		        scrollTop: ($($(this).attr("href")).offset().top-180)},
		        50);
			});
		});
	</script>
{% endblock %}
