{% extends 'base.html' %}

{% block css %}
<style>
	.categ_heading{
		font-family: Proxima Nova Regular;
		font-weight: 600;
	}
	hr.cat_heading_underline{
		background-color: #e44e35;
		height:1.5px;
		margin: 10px 5px 25px ;
		width: 10%;
	}
	.categ_block{
		height: 80vh;
	}
	.categ_image{
		height: 80vh;
	}
	.categ_content{
		font-size: 26px;
		font-family: Proxima Nova Regular;
		color:#1a1a1a;
	}
	.btn_custom{
		color:#ffffff;
		padding: 6px 25px;
		font-family: Proxima Nova Regular;
		font-size: 24px;
		background-image: linear-gradient(30deg, #e54e35, #e56e45);
		transition: .5s ease;
	}
	.btn_custom:hover{
		color:#ffffff;
		padding: 7px 26px;
		font-family: Proxima Nova Regular;
		font-size: 25px;
		background-image: linear-gradient(90deg, #e54e35, #e56e45);
		box-shadow: 7px 7px 10px rgba(0,0,0,0.1);
	}
	.scroll_down_edge,.scroll_down_edge:hover,
	.scroll_up_nexus,.scroll_up_nexus:hover,
	.scroll_down_sleek,.scroll_down_sleek:hover,
	.scroll_up_edge,.scroll_up_edge:hover{
		font-family: Proxima Nova Regular;
		font-size: 22px;
		color:black;
		cursor:pointer;
	}
</style>
{% endblock %}

{% block content %}
	<div class="mt-5 py-5 px-5">
		<div class="row m-0 categ_block">
			<div class="col-md-6"  data-aos-once="false" data-aos="fade-up" data-aos-duration="1500">
				<h1 class="pt-3 categ_heading d-none d-md-block pb-0"> 
					Nexus
				</h1>
				<h1 class="pt-3 categ_heading d-block d-md-none pb-0"> 
					Nexus
				</h1>
				<hr class="cat_heading_underline my-2"> 
				<div class="categ_content pr-5">
				 	<p>
				 		Lorem ipsum dolor sit amet, consectetuer adipiscing
						elit, sed diam nonummy nibh euismod tincidunt ut
						laoreet dolore magna aliquam erat volutpat. Ut
					</p>
					<ul>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Lorem ipsum dolor sit amet</li>
					</ul>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing
						elit, sed diam nonummy nibh
					</p>
				</div>
				<div class="py-2">
					<a href="#" class="btn btn_custom">Contact Us</a>
				</div>
			</div>
			<div class="col-md-6 px-5"  data-aos-once="false" data-aos="fade-up" data-aos-duration="1500">
				<img class="img-fluid categ_image" src="/static/images/nexus.png">
			</div>
		</div>
		<div class="mx-auto text-center my-1">
			<a class="scroll_down_edge my-0">Scroll for Edge <i class="fa fa-angle-down"></i></a><br>
			<a class="scroll_up_nexus my-0">Scroll for Nexus <i class="fa fa-angle-up"></i></a></a>
		</div>
		<div class="row m-0 categ_block">
			<div class="col-md-6 px-5"  data-aos-once="false" data-aos="fade-up" data-aos-duration="1500">
				<img class="img-fluid categ_image" src="/static/images/edge.png">
			</div>
			<div class="col-md-6"  data-aos-once="false" data-aos="fade-up" data-aos-duration="1500">
				<h1 class="pt-3 categ_heading d-none d-md-block pb-0"> 
					Edge
				</h1>
				<h1 class="pt-3 categ_heading d-block d-md-none pb-0"> 
					Edge
				</h1>
				<hr class="cat_heading_underline my-2"> 
				<div class="categ_content pr-5">
				 	<p>
				 		Lorem ipsum dolor sit amet, consectetuer adipiscing
						elit, sed diam nonummy nibh euismod tincidunt ut
						laoreet dolore magna aliquam erat volutpat. Ut
					</p>
					<ul>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Lorem ipsum dolor sit amet</li>
					</ul>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing
						elit, sed diam nonummy nibh
					</p>
				</div>
				<div class="py-2">
					<a href="#" class="btn btn_custom">Contact Us</a>
				</div>
			</div>		
		</div>
		<div class="mx-auto text-center my-1">
			<a class="scroll_down_sleek my-0">Scroll for Sleek <i class="fa fa-angle-down"></i></a></a><br>
			<a class="scroll_up_edge my-0">Scroll for Edge <i class="fa fa-angle-up"></i></a></a>
		</div>
		<div class="row m-0 categ_block">
			<div class="col-md-6"  data-aos-once="false" data-aos="fade-up" data-aos-duration="1500">
				<h1 class="pt-3 categ_heading d-none d-md-block pb-0"> 
					Sleek
				</h1>
				<h1 class="pt-3 categ_heading d-block d-md-none pb-0"> 
					Sleek
				</h1>
				<hr class="cat_heading_underline my-2"> 
				<div class="categ_content pr-5">
				 	<p>
				 		Lorem ipsum dolor sit amet, consectetuer adipiscing
						elit, sed diam nonummy nibh euismod tincidunt ut
						laoreet dolore magna aliquam erat volutpat. Ut
					</p>
					<ul>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Lorem ipsum dolor sit amet</li>
					</ul>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing
						elit, sed diam nonummy nibh
					</p>
				</div>
				<div class="py-2">
					<a href="#" class="btn btn_custom">Contact Us</a>
				</div>
			</div>
			<div class="col-md-6 px-5"  data-aos-once="false" data-aos="fade-up" data-aos-duration="1500">
				<img class="img-fluid categ_image" src="/static/images/sleek.png">
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script>
		$(document).ready(function(){
			$('.scroll_up_nexus').hide();
			$(".scroll_down_edge").on("click",function(){
				$('html').animate({
		        scrollTop: (document.documentElement.scrollTop+$(".categ_block")[0].offsetHeight)+50},
		        100);
		        $(".scroll_down_edge").hide();
		        $('.scroll_up_nexus').show();
			});
			$(".scroll_down_sleek").on("click",function(){
				$('html').animate({
		        scrollTop: (document.documentElement.scrollTop+$(".categ_block")[1].offsetHeight)+50},
		        100);
		        $(".scroll_down_sleek").hide();
			});
			$(".scroll_up_nexus").on("click",function(){
				$('html').animate({
		        scrollTop: (document.documentElement.scrollTop-$(".categ_block")[0].offsetHeight)-50},
		        100);
		        $(".scroll_down_edge").show();
		        $('.scroll_up_nexus').hide();
			});
			$(".scroll_up_edge").on("click",function(){
				$('html').animate({
		        scrollTop: (document.documentElement.scrollTop-$(".categ_block")[1].offsetHeight)-50},
		        100);
		        $(".scroll_down_sleek").show();
			});
		});
	</script>	
{% endblock %}
