{% extends 'base.html' %}

{% block css %}
<style>
	#home_slider{
		background-image:url("{{ url_for('static', filename='images/latest_bg.png') }}");
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
	}
	.slider_heading{
		font-family: Didot;
		font-style: italic;
		color:#1a1a1a;
		letter-spacing: 1.2px;
	}
	.slider_heading:after{
		content: '';
		height: 3px;
		background: #e44e35; 
		width: 32%;
		margin:20px 4%;
		display: block;
	}
	.new_content{
		font-size: 20px;
		font-family: Proxima Nova Regular;
		color:#1a1a1a;
	}
	.new_image{
		height: 35vh;
	}
	.sub_heading{
		font-family: Proxima Nova Light;
		color:#1a1a1a;
	}
	.fri_col-7{
		width: 60vw;
		height: 75vh;
	}
	.fri_col-5{
		width: 40vw;
		height:75vh;
	}
	.fri_col-6{
		height: 60vh;
	}
	/*Zoom Effect*/
	/* [1] The container */
	.img-hover-zoom {
	  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
	}

	/* [2] Transition property for smooth transformation of images */
	.img-hover-zoom img {
	  transition: transform 3.5s ease;
	}

	/* [3] Finally, transforming the image when container gets hovered */
	.img-hover-zoom:hover img {
	  transform: scale(1.1);
	}
	.img-hover-zoom:hover .overlay {
	  background-color: rgba(0,0,0,0.4);
	}
	/*End*/
	@media (max-width: 768px) {
		.fri_col-7{
			height: 30vh;
		}
		.fri_col-5{
			height:30vh;
		}
		.fri_col-6{
			height: 30vh;
		}
	}
</style>
{% endblock %}

{% block content %}
	<div id="home_slider">
		<div class="d-flex flex-column justify-content-center h-75 ml-5 pl-md-5">
			<h1 class="slider_heading display-1 d-none d-md-block pt-md-4 pl-md-5 ml-md-4 pb-0"> 
				Latest at AFC
			</h1>
			<h1 class="slider_heading display-4 d-block d-md-none pt-md-4 pl-md-5 ml-md-4 pb-0"> 
				Latest at AFC
			</h1>
		</div>
	</div>
	<div id="whats_new" class="py-5">
		<h1 class="heading text-center display-4 d-none d-md-block pb-0" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500"> 
			What’s New at AFC
		</h1>
		<h1 class="heading text-center d-block d-md-none pb-0" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500"> 
			What’s New at AFC
		</h1>
		<hr class="heading_underline" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
		<div class="row m-0 " data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
			<div class="col-md-3 mx-4 px-0">
				<img class="img-fluid new_image" src="/static/images/whats_new1.png" >
			</div>
			<div class="col-md-8 mx-4 mx-md-0 pt-5 pb-2 new_content d-flex justify-content-center h-100">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
		<div class="row m-0 pt-md-4 " data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
			<div class="col-md-8 mx-4 pb-5 pt-2 new_content d-flex justify-content-center h-100">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
			<div class="col-md-3 mx-4 mx-md-0 px-0" >
				<img class="img-fluid new_image" src="/static/images/whats_new2.png" >
			</div>
		</div>
	</div>
	<div id="whats_new" class="py-5">
		<h1 class="heading text-center display-4 d-none d-md-block pb-0" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500"> 
			Fridays at AFC
		</h1>
		<h1 class="heading text-center d-block d-md-none pb-0" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500"> 
			Fridays at AFC
		</h1>
		<hr class="heading_underline" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
		<h4 class="sub_heading px-md-5 px-3 mx-md-5" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. 
		</h4>
		<div class="d-flex m-0 w-100 pt-5" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
			<div class="col-md-7 fri_col-7 p-0 img-hover-zoom" >
				<img class="img-fluid h-100 w-100" src="/static/images/friday_1.png">
			</div>
			<div class="col-md-5 fri_col-5 pl-2 pr-0 img-hover-zoom">
				<img class="img-fluid h-100 w-100" src="/static/images/friday_3.png">
			</div>
		</div>
		<div class="d-flex m-0 pt-2 w-100" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
			<div class="col-md-6 fri_col-6 p-0 img-hover-zoom" >
				<img class="img-fluid h-100 w-100" src="/static/images/friday_2.png">
			</div>
			<div class="col-md-6 fri_col-6 pl-2 pr-0 img-hover-zoom">
				<img class="img-fluid h-100 w-100" src="/static/images/friday_4.png">
			</div>
		</div>
	</div>
	<div id="whats_new" class="py-5">
		<h1 class="heading text-center display-4 d-none d-md-block pb-0" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500"> 
			Social Media
		</h1>
		<h1 class="heading text-center d-block d-md-none pb-0" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500"> 
			Social Media
		</h1>
		<hr class="heading_underline" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
		<div class="d-flex justify-content-around m-0 h-100 pt-3" style="height: 50vh;" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
			<div class="col-md-4 px-md-5">
				<img class="img-fluid h-100 w-100" src="/static/images/social_1.png">
			</div>
			<div class="col-md-4 px-md-5">
				<img class="img-fluid h-100 w-100" src="/static/images/social_2.png">
			</div>
			<div class="col-md-4 px-md-5">
				<img class="img-fluid h-100 w-100" src="/static/images/social_3.png">
			</div>
		</div>
	</div>
	<div id="whats_new" class="py-md-5">
		<h1 class="heading text-center display-4 d-none d-md-block pb-0" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500"> 
			Blog
		</h1>
		<h1 class="heading text-center d-block d-md-none pb-0" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500"> 
			Blog
		</h1>
		<hr class="heading_underline" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
		<div class="d-flex justify-content-around h-100 py-3" style="height: 50vh;" data-aos-once="true" data-aos="fade-up" data-aos-duration="1500">
			<div class="col-md-3">
				<img class="img-fluid h-100 w-100" src="/static/images/blog.png">
			</div>
			<div class="col-md-3">
				<img class="img-fluid h-100 w-100" src="/static/images/blog.png">
			</div>
			<div class="col-md-3">
				<img class="img-fluid h-100 w-100" src="/static/images/blog.png">
			</div>
		</div>
	</div>
{% endblock %}

