{% extends 'base.html' %}

{% block css %}
<style>
	.slider_heading{
			font-family: Didot;
			font-style: italic;
			color:#ffffff;
			letter-spacing: 1.2px;
		}
	.slider_heading:after {
			content: '';
			height: 3px;
			background: #e44e35; 
			width: 64%;
			margin:20px 18%;
			display: block;
		}
	/* Home Slider */
		#home_slider1{
			background-image:url("{{ url_for('static', filename='images/India_Mart.png') }}");
			background-repeat: no-repeat;
			background-size: cover;
			height: 100vh;
		}
		#home_slider2{
			background-image:url("{{ url_for('static', filename='images/Concentrix.png') }}");
			background-repeat: no-repeat;
			background-size: cover;
			height: 100vh;
		}
		#home_slider3{
			background-image:url("{{ url_for('static', filename='images/Tokopedia.png') }}");
			background-repeat: no-repeat;
			background-size: cover;
			height: 100vh;
		}
		#home_slider4{
			background-image:url("{{ url_for('static', filename='images/India_Mart.png') }}");
			background-repeat: no-repeat;
			background-size: cover;
			height: 100vh;
		}
		#home_slider5{
			background-image:url("{{ url_for('static', filename='images/Concentrix.png') }}");
			background-repeat: no-repeat;
			background-size: cover;
			height: 100vh;
		}
		#home_slider6{
			background-image:url("{{ url_for('static', filename='images/Tokopedia.png') }}");
			background-repeat: no-repeat;
			background-size: cover;
			height: 100vh;
		}
		#home_slider7{
			background-image:url("{{ url_for('static', filename='images/India_Mart.png') }}");
			background-repeat: no-repeat;
			background-size: cover;
			height: 100vh;
		}
		#home_slider8{
			background-image:url("{{ url_for('static', filename='images/Concentrix.png') }}");
			background-repeat: no-repeat;
			background-size: cover;
			height: 100vh;
		}
		#home_slider9{
			background-image:url("{{ url_for('static', filename='images/Tokopedia.png') }}");
			background-repeat: no-repeat;
			background-size: cover;
			height: 100vh;
		}
		#home_slider10{
			background-image:url("{{ url_for('static', filename='images/India_Mart.png') }}");
			background-repeat: no-repeat;
			background-size: cover;
			height: 100vh;
		}
		.slider_layer{
			background-color: rgba(0,0,0,0.6);
			height: 100vh;
		}
	/* End */
	#homeCarousel hr.heading_underline{
		border-color: #e44e35;
		border-width: 3px;
		margin: -15px auto 25px auto;
		width: 25%;
	}
	#homeCarousel hr.control_pointer{
		border-color: #ffffff;
		border-width: 3px;
		margin: -15px auto 25px auto;
		width: 150px;
	}
	.carousel-control-prev ,.carousel-control-next {
		font-family: Didot Bold;
		font-style: bold;
		font-weight: 900;
		color:#ffffff;
		opacity: 1;
		font-size: 24px;
	}
	.viewall_link a{
		position: absolute;
		bottom: 5%;
		left: 50%;
		transform: translateX(-50%);
		font-family: Didot Bold;
		font-weight: 900;
		color:#ffffff;
		opacity: 1;
		font-size: 24px;
		text-decoration: none;
		letter-spacing: 1.8px !important;
	}
	.viewall_link hr.heading_underline{
		position: absolute;
		bottom: 1%;
		left: 50%;
		transform: translateX(-50%);
		border-color: #ffffff !important;
		background-color: #ffffff !important;
		border-width: 1.5px !important;
		width: 6% !important;
	}
	.num{
		position: absolute;
		bottom: 10%;
		right: 12%;
		font-size: 26px;
		font-family: Didot Bold;
		color: #ffffff; 
	}
	.project_images img{
		height: 55vh;
	}
	.project_heading{
		font-family: Proxima Nova Light;
	}
	
</style>
{% endblock %}

{% block content %}
	<div class="row m-0">
		<div id="homeCarousel" class="carousel slide w-100" data-ride="carousel">
			<div class="carousel-inner w-100">
				<div class="carousel-item w-100 active" id="home_slider1">
					<div class="slider_layer w-100 h-100 py-5">
						<div class="d-flex flex-column justify-content-center align-items-center h-100 w-100">
							<a href="{{ url_for('projects_gallery') }}">	
								<h1 class="slider_heading display-1 d-none d-md-block text-center pt-md-4 pb-0"> 
									Indiamart
								</h1>
								<h1 class="slider_heading display-4 d-block d-md-none text-center pt-md-4 pb-0"> 
									Indiamart
								</h1>
							</a>
						</div>
					</div>
				</div>
				<div class="carousel-item w-100" id="home_slider2">
					<div class="slider_layer w-100 h-100 py-5">
						<div class="d-flex flex-column justify-content-center align-items-center h-100 w-100">
							<a href="{{ url_for('projects_gallery') }}">
								<h1 class="slider_heading display-1 d-none d-md-block text-center pt-md-4 pb-0"> 
									Concentrix
								</h1>
								<h1 class="slider_heading display-4 d-block d-md-none text-center pt-md-4 pb-0"> 
									Concentrix
								</h1>
							</a>
						</div>
					</div>
				</div>
				<div class="carousel-item w-100" id="home_slider3">
					<div class="slider_layer w-100 h-100 py-5">
						<div class="d-flex flex-column justify-content-center align-items-center h-100 w-100">
							<a href="{{ url_for('projects_gallery') }}">	
								<h1 class="slider_heading display-1 d-none d-md-block text-center pt-md-4 pb-0"> 
									Tokopedia
								</h1>
								<h1 class="slider_heading display-4 d-block d-md-none text-center pt-md-4 pb-0"> 
									Tokopedia
								</h1>
							</a>
						</div>
					</div>
				</div>
				<div class="carousel-item w-100" id="home_slider4">
					<div class="slider_layer w-100 h-100 py-5">
						<div class="d-flex flex-column justify-content-center align-items-center h-100 w-100">
							<a href="{{ url_for('projects_gallery') }}">
								<h1 class="slider_heading display-1 d-none d-md-block text-center pt-md-4 pb-0"> 
									Indiamart
								</h1>
								<h1 class="slider_heading display-4 d-block d-md-none text-center pt-md-4 pb-0"> 
									Indiamart
								</h1>
							</a>
						</div>
					</div>
				</div>
				<div class="carousel-item w-100" id="home_slider5">
					<div class="slider_layer w-100 h-100 py-5">
						<div class="d-flex flex-column justify-content-center align-items-center h-100 w-100">
							<a href="{{ url_for('projects_gallery') }}">
								<h1 class="slider_heading display-1 d-none d-md-block text-center pt-md-4 pb-0"> 
									Indiamart
								</h1>
								<h1 class="slider_heading display-4 d-block d-md-none text-center pt-md-4 pb-0"> 
									Indiamart
								</h1>
							</a>
						</div>
					</div>
				</div>
				<div class="carousel-item w-100" id="home_slider6">
					<div class="slider_layer w-100 h-100 py-5">
						<div class="d-flex flex-column justify-content-center align-items-center h-100 w-100">
							<a href="{{ url_for('projects_gallery') }}">
								<h1 class="slider_heading display-1 d-none d-md-block text-center pt-md-4 pb-0"> 
									Indiamart
								</h1>
								<h1 class="slider_heading display-4 d-block d-md-none text-center pt-md-4 pb-0"> 
									Indiamart
								</h1>
							</a>
						</div>
					</div>
				</div>
				<div class="carousel-item w-100" id="home_slider7">
					<div class="slider_layer w-100 h-100 py-5">
						<div class="d-flex flex-column justify-content-center align-items-center h-100 w-100">
							<a href="{{ url_for('projects_gallery') }}">
								<h1 class="slider_heading display-1 d-none d-md-block text-center pt-md-4 pb-0"> 
									Indiamart
								</h1>
								<h1 class="slider_heading display-4 d-block d-md-none text-center pt-md-4 pb-0"> 
									Indiamart
								</h1>
							</a>
						</div>
					</div>
				</div>
				<div class="carousel-item w-100" id="home_slider8">
					<div class="slider_layer w-100 h-100 py-5">
						<div class="d-flex flex-column justify-content-center align-items-center h-100 w-100">
							<a href="{{ url_for('projects_gallery') }}">
								<h1 class="slider_heading display-1 d-none d-md-block text-center pt-md-4 pb-0"> 
									Indiamart
								</h1>
								<h1 class="slider_heading display-4 d-block d-md-none text-center pt-md-4 pb-0"> 
									Indiamart
								</h1>
							</a>
						</div>
					</div>
				</div>
				<div class="carousel-item w-100" id="home_slider9">
					<div class="slider_layer w-100 h-100 py-5">
						<div class="d-flex flex-column justify-content-center align-items-center h-100 w-100">
							<a href="{{ url_for('projects_gallery') }}">
								<h1 class="slider_heading display-1 d-none d-md-block text-center pt-md-4 pb-0"> 
									Indiamart
								</h1>
								<h1 class="slider_heading display-4 d-block d-md-none text-center pt-md-4 pb-0"> 
									Indiamart
								</h1>
							</a>
						</div>
					</div>
				</div>
				<div class="carousel-item w-100" id="home_slider10">
					<div class="slider_layer w-100 h-100 py-5">
						<div class="d-flex flex-column justify-content-center align-items-center h-100 w-100">
							<a href="{{ url_for('projects_gallery') }}">
								<h1 class="slider_heading display-1 d-none d-md-block text-center pt-md-4 pb-0"> 
									Indiamart
								</h1>
								<h1 class="slider_heading display-4 d-block d-md-none text-center pt-md-4 pb-0"> 
									Indiamart
								</h1>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="h-50">
				<a class="carousel-control-prev d-flex w-25 my-5" href="#homeCarousel" role="button" data-slide="prev">
					<span class="ml-md-5 d-none d-md-block">
						PREV
					</span>
					<hr class="control_pointer my-2 mx-3 d-none d-md-block">
				</a>
				<a class="carousel-control-next d-flex w-25 my-5" href="#homeCarousel" role="button" data-slide="next">
					<hr class="control_pointer my-2 mx-3 d-none d-md-block">
					<span class="mr-md-5 d-none d-md-block">
						NEXT
					</span>
				</a>
				<div class="num row m-0"> </div>
			</div>
			<div class="viewall_link text-center">
				<a href="{{ url_for('all_projects') }}">VIEW ALL</a>
				<hr class="heading_underline">
			</div>
		</div>
	</div>
{% endblock %}



{% block js %}
	<script>
		$(document).ready(function(){
			var totalItems = $('.carousel-item').length;
			var currentIndex = $('.carousel-item.active').index() + 1;
			 if (currentIndex<10){
			    	currentIndex='0'+currentIndex;
			    }
			$('.num').html('<p class="pt-0">'+currentIndex+'</p><svg height="80" width="20"><line x1="0" y1="60" x2="60" y2="-120" style="stroke:rgb(256,256,256);stroke-width:1" /></svg><p class="pt-4">'+totalItems+'</p>');

			$('#homeCarousel').on('slid.bs.carousel', function() {
			    currentIndex = $('.carousel-item.active').index() + 1;
			    if (currentIndex<10){
			    	currentIndex='0'+currentIndex;
			    }
			   $('.num').html('<p class="pt-0">'+currentIndex+'</p><svg height="80" width="20"><line x1="0" y1="60" x2="60" y2="-120" style="stroke:rgb(256,256,256);stroke-width:1"/></svg><p class="pt-4">'+totalItems+'</p>');
			});
		});
	</script>	
{% endblock %}
